<div class="m-xxl-5 m-xl-4 m-lg-2">
    <h1 class="text-custom-blue pt-5 pb-2" id="h1">Расходы</h1>

    <div class="d-flex flex-wrap row-cols-3" id="cards">
        <div class="pe-3 pb-4" aria-description="23">
            <a href="" class="card h-100 rounded-4" id="a-create-category">
                <div class="card-body m-3">
                    <button class="btn text-muted fs-3 w-100 h-100" id="create-category">
                        +
                    </button>
                </div>
            </a>
        </div>
    </div>
</div>

