<div class="m-5">
    <h1 class="text-custom-blue pt-5 pb-2">Редактирование дохода/расхода</h1>
    <div class="w-75">
        <div class="input-group pt-1 pb-3 w-50">
            <input type="text" class="form-control font-15 me-5" id="select-category" placeholder="Тип...">
        </div>
        <div class="input-group pt-1 pb-3 w-50">
            <input type="text" class="form-control font-15 me-5" id="select-category-name" placeholder="Категория...">
        </div>
        <div class="input-group pt-1 pb-3 w-50">
            <input type="text" class="form-control font-15 me-5" id="select-amount" placeholder="Сумма в $...">
        </div>
        <div class="input-group pt-1 pb-3 w-50">
            <input type="text" class="form-control font-15 me-5" id="select-date" placeholder="Дата...">
        </div>
        <div class="input-group pt-1 pb-3 w-50">
            <input type="text" class="form-control font-15 me-5" id="select-comment" placeholder="Комментарий...">
        </div>
    </div>
    <div class="pt-1">
        <button class="btn btn-success me-2 font-14 font-weight-500" id="edit-both-save">Создать</button>
        <button class="btn btn-danger font-14 font-weight-500" id="cancel">Отмена</button>
    </div>
</div>
