    <div class="container">
        <div class="m-5">
            <h1 class="text-custom-blue pt-5 pb-2">Главная</h1>
            <div class="py-4" id="buttons-period-control">
                <button type="button" class="active btn btn-outline-secondary fs-6 fw-bolder me-3" id="btn-today"
                        style="width: 100px;" aria-description="interval">Сегодня
                </button>
                <button type="button" class="btn btn-outline-secondary fs-6 fw-bolder me-3 ms-1" id="btn-week"
                        style="width: 100px;" aria-description="week">Неделя
                </button>
                <button type="button" class="btn btn-outline-secondary fs-6 fw-bolder me-3 ms-1" id="btn-month"
                        style="width: 100px;" aria-description="month">Месяц
                </button>
                <button type="button" class="btn btn-outline-secondary fs-6 fw-bolder me-3 ms-1" id="btn-year"
                        style="width: 100px;" aria-description="year">Год
                </button>
                <button type="button" class="btn btn-outline-secondary fs-6 fw-bolder me-3 ms-1" id="btn-all-time"
                        style="width: 100px;" aria-description="all">Все
                </button>
                <button type="button" class="btn btn-outline-secondary fs-6 fw-bolder me-3 ms-1" id="btn-interval"
                        style="width: 100px;" aria-description="interval">Интервал
                </button>

                <div class="dropdown d-inline-block">
                    <span class="ms-1">c</span>
                    <input class="btn rounded-2 text-secondary" type="date" id="date-from" aria-description="interval">
                </div>
                <div class="dropdown d-inline-block">
                    <span class="ms-1">по</span>
                    <input class="btn rounded-2 text-secondary" type="date" id="date-to" aria-description="interval">
                </div>
        </div>

        <div class="d-flex flex-wrap align-items-center justify-content-around" style="height: 467px">

                <div id="wrapperIncomes">
                    <canvas id="pie-incomes" style="height: 467px; width: 437px;"></canvas>
                </div>

            <div class="d-none border-end border-gray d-xl-block h-75"></div>

            <div id="wrapperExpenses">
                <canvas id="pie-expense" style="height: 467px; width: 437px;"></canvas>
            </div>

        </div>
    </div>
</div>

